@keyframes backgroundflash {
    75% {
        opacity: 1.0
    }
    100% {
        opacity: 0.0;
        display: none
    }
}

#flash {
    background-color: green;
    animation: backgroundflash 5s forwards;
}

.topTable {
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    border: solid 1px black;
}

.mainTable {
    font-family: Arial, sans-serif;
    font-size: 14px;
    border: solid 1px black;
}

#header {
    border-radius: 8px;
    background: #94cdf2;
    color: white;
    height: 120px;
}

.indexlink{
  color: #1484C8;
  font-size: 50px;
  position:absolute;
  top: 50px;
}

.indexlink:visited, .indexlink:link {
    text-decoration: none;
    color: white;
}

.indexlink:hover {
    color: black;
}

#languagechooser {
    list-style: none;
    color: white;
}

.headercontent #languagechooser{
  float: right;
  margin-top: 55px;
}

.languagelink:visited, .languagelink:link {
    text-decoration: none;
    color: white;
}

.languagelink:hover {
    color: black;
}

.headerimg {
    width: 15px;
    height: 15px;
}

.headercontent {
    color: white;
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
}

.logo{
  float: left;
  width: 120px;
  height: 120px;
}

ul, ol {
    list-style: none;
}
.nav{
  float: right;
  margin-top: 50px;
  font-size: 25px;
}

.nav>li.menu {
    float: left;
    margin-right: 30px;
}

.nav li.menu a {
    background-color: #94cdf2;
    color: white;
    text-decoration: none;
    padding: 10px 12px;
    display: block;
}

.nav li.menu a:hover {
    color: black;
}

.nav li.menu ul {
    display: none;
    position: absolute;
    font-size: 15px;
}

.nav li.menu:hover>ul {
    display: block;
}

#footer {
    margin-top: 50px;
    border-radius: 8px;
    background: #292d39;
    column-count: 5;
}

.footertitle {
    color: #b3b3b3;
}

.footercontent {
    margin-top: auto;
    color: white;
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
}

.footerimg {
    float: left;
    margin-top: 3px;
    margin-right: 3px;
    width: 15px;
    height: 15px;
}
